# Directories
temp/
mlruns/
dataset/
env/
ml_src/
saved_models/base\ run\ -\ 1\ epoch
saved_models/full\ run\ -\ 20\ epoch
saved_models/best\ model
saved_models_test/


# Python Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Extras
.coverage
